//COLORS
$color-primary-cyan: hsl(185, 75%, 39%);
$color-primary-blue: hsl(229, 23%, 23%);
$color-primary-grayishblue: hsl(227, 10%, 46%);

$color-neutral: hsl(0, 0%, 59%);

//FONT
$font-display: 1.8rem;
